# CMake build directory
build/
cmake-build-*/

# CMake cache/files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# Object / binary files
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out

# Logs
*.log

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
